{% extends "base.html" %}

{% block title %}Add Player{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Add New Player</h1>
        <a href="/log-session" class="btn btn-outline-secondary">Back</a>
    </div>
    <form action="/add-player" method="post">
        <div class="mb-3">
            <label class="form-label fw-bold">Player name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary w-100">Save player</button>
    </form>
{% endblock %}